#footer {
  background: $beauvertdeau;
  padding: 30px 0;
  color: $beaurose;
}

#footer a {
  color: $beaurose;
  letter-spacing: 20px;
  font-size: 30px;
  margin: 17px;
}

#footer a:hover {
  color: $bonvieuxbleu;
}

#footer p {
  margin: 17px 0 0 10px;
}
