#footer {
  background: #B4EDE1;
  padding: 30px 0;
  color: #ED93D9;
}

#footer a {
  color: #ED93D9;
  letter-spacing: 20px;
  font-size: 30px;
  margin: 17px;
}

#footer a:hover {
  color: #00CBFF;
}

#footer p {
  margin: 17px 0 0 10px;
}
