<!-- _footer.erb -->

<div id="footer">
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>
        </a></li>
        <li><a href="#"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>
        </a></li>
        <li><a href="#"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
        </a></li>
        <li><a href="#"><i class="fa fa-ambulance" aria-hidden="true"></i>
        </a></li>
      </ul>
      <p>Ce site est faux. Aucun remboursement ne sera fait.</p>
    </div>
